* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(203, 216, 225);
}

.form-container {
    padding: 1rem;
    background-color: rgb(150, 163, 171);
    margin: 1rem;
    width: 50rem;
    /* width: fit-content; */
    border: none;
    border-radius: .3rem;
}

form {
    padding: 0 1rem;
    width: 100%;
}

.field-container {
    padding: .5rem;
}

.btns-container {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}

.btns-container button {
    border: none;
    padding: .25rem .5rem;
    border-radius: .2rem;
}

.layout-section {
    /* padding: 0 0 1rem 0; */
}

.form-errors {
    color: rgb(230, 0, 0);
    font-style: italic;
    font-size: .8rem;
    background-color: rgba(255, 193, 193, 0.575);
    padding: .5rem;

}